#basic-navbar-nav{
    justify-content: space-between;
}
.list_box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logout_btn{
    float:right;
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}
.sign_bar_opt{
    display: flex;
    flex-direction: row;
    align-items: center;
}
